.post-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 배경 투명도 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 화면 최상단에 위치 */
}

.post-form {
  background-color: #FFF7FA; /* 연한 핑크색 배경 */
  border: 1px solid #2C0714;
  padding: 20px;
  width: 750px; /* 폼의 넓이 증가 */
  height: 650px; /* 폼의 높이 증가 */
  max-width: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.post-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px; /* 텍스트 크기 조정 */
  background-color: #FFE7F0; /* 상단의 배경색을 핑크색으로 변경 */
  padding: 10px;
  border-bottom: 1px solid #2C0714;
}

.post-form-header span {
  margin-right: 10px;
  color: #2C0714; /* 글자색 변경 */
}

.post-form-header input,
.post-form-header select {
  padding: 8px;
  border: 1px solid #2C0714;
  border-radius: 4px;
  flex: 1;
  margin-right: 10px;
}

textarea {
  flex-grow: 1; /* 텍스트 영역이 남는 공간을 차지하게 함 */
  padding: 10px;
  border: 1px solid #2C0714;
  border-radius: 4px;
  margin-bottom: 10px;
  resize: none;
  font-size: 16px;
  background-color: #FFFAFA; /* 내용 배경색 변경 */
}

.tag-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #2C0714; /* 태그 섹션 위에 선 추가 */
  background-color: #FFE7F0; /* 태그 섹션 배경색 */
  padding: 10px;
}

.tag-section input {
  padding: 8px;
  border: 1px solid #2C0714;
  border-radius: 4px;
  margin-top: 5px;
}

.tag {
  background-color: #FFB6CF;
  color: #2C0714;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
  background-color: #FFE7F0; /* 버튼 섹션 배경색 */
  padding: 10px;
  border-top: 1px solid #2C0714; /* 상단에 경계선 추가 */
}

.form-buttons button {
  padding: 10px 20px;
  border: 1px solid #2C0714;
  border-radius: 4px;
  cursor: pointer;
  background-color: #FFB6CF;
  color: #2C0714;
  font-size: 16px; /* 버튼 텍스트 크기 증가 */
}

.form-buttons button + button {
  margin-left: 10px;
}
