/* 전체 레이아웃 설정 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFF7FA; /* 더 연한 핑크색 배경 추가 */
}

.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #2C0714;
}

/* 메인 콘텐츠 설정 */
.main-content {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
  color: #2C0714; /* 글자색 변경 */
}
